
/****************************Tag Selector ****************/

Body {
    background-color:burlywood
        }
 hr{ background-color: crimson;
        border-style: dashed;
        width: 100%;}
 h3{ color: crimson;

        }
h1{
    color: crimson;
}

/****************************Class Selector ****************/
.circular{ border-radius: 100%;

}

/****************************ID Selector ****************/